.white-text {
    color: white;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:hover {
    color: #00AED6;
}

.width-40 {
    width: 40%;
}