.album-art {
  height: 120px;
  width: auto;
  padding: 4px;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.song-details {
  padding: 23px 0 0 15px;
}

.song-details p {
  margin: 0;
}
