.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -1px 30px #000080;
  height: 45px;
}

.hCenter {
  margin: 7px auto;
  width: 188px;
}

.controlBox {
  display: inline;
  padding: 20px 14px;
}

.controlBox:hover {
  cursor: pointer;
}

.controlBox:first-child,
.controlBox:nth-child(2) {
  border-right: 2px solid grey;
}

#volume-slider {
  padding: 18px 17px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  height: 180px;
  width: 54px;
  bottom: 0;
  margin-left: 114px;
  border: 2px solid #3c50f9;
  display: none;
}

#volume-button:hover ~ #volume-slider,
#volume-slider:hover {
  display: block;
}
