.logo {
    height: 65px;
    width: auto;
}

.white-text {
    color: white;
}

.main-navbar {
    background-color: #0F87F5;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.inline {
    display: inline;
}

#station-dropdown {
    background-color: #0F87F5;
}

#station-dropdown, .navbar-default .navbar-toggle .icon-bar, .navbar-collapse.collapse.in>ul>li.dropdown.open>ul>li>a {
    color: white;
}