.white-text {
  color: white;
}

.main-navbar {
  background-color: #0f87f5;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.inline {
  display: inline;
}

#root > div > div > nav > div > div > div > a {
  color: white;
}

#root > div > div > nav > button {
  background-color: white;
}

@media only screen and (max-width: 576px) {
  .logo {
    max-width: 55px;
  }
  #root > div > div > nav > h1 {
    font-size: 2.2rem;
    margin: 0;
    margin-left: -14px;
  }
}

@media only screen and (max-width: 415px) {
  .logo {
    max-width: 50px;
  }
}
